@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('http://fonts.cdnfonts.com/css/made-outer-sans-alt');
@import url('http://fonts.cdnfonts.com/css/roblox-new');
@import url('http://fonts.cdnfonts.com/css/gogh');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
    Playfair Display:
    font-family: 'Playfair Display', serif;

    Poiret One:
    font-family: 'Poiret One', cursive;

    Noto Sans:
    font-family: 'Noto Sans', sans-serif;

    Nunito Sans:
    font-family: 'Nunito Sans', sans-serif;

    Mulish:
    font-family: 'Mulish', sans-serif;

    Montserrat:
    font-family: 'Montserrat', sans-serif;

    Raleway:
    font-family: 'Raleway', sans-serif;

    Alumni Sans Pinstripe:
    font-family: 'Alumni Sans Pinstripe', sans-serif;

    Cormorant Garamond:
    font-family: 'Cormorant Garamond', serif;

    Noto Serif Display:
    font-family: 'Noto Serif Display', serif;

    Dela Gothic One:
    font-family: 'Dela Gothic One', cursive;

    Prosto One:
    font-family: 'Prosto One', cursive;

    Jost:
    font-family: 'Jost', sans-serif;
*/

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('BebasNeue-Thin.eot');
    src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('BebasNeue-Thin.woff') format('woff'),
    url('BebasNeue-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeueBook.eot');
    src: url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueBook.woff') format('woff'),
    url('BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url('BebasNeueLight.eot');
    src: url('BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueLight.woff') format('woff'),
    url('BebasNeueLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('BebasNeueRegular.eot');
    src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueRegular.woff') format('woff'),
    url('BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('BebasNeueBold.eot');
    src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueBold.woff') format('woff'),
    url('BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    background: #000;
    scroll-behavior: smooth;
    font-size: 25px;
    overflow-y: scroll;
overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.2em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(255, 255, 255);
}

h1 {
    font-family: 'Bebas Neue Bold';
}

button {
    font-family: 'Bebas Neue Bold';
}

.search {
    font-family: 'Bebas Neue Bold';
}

a {
    font-family: 'Bebas Neue Bold';
}

p {
    font-family: 'Bebas Neue Bold';
}

h2 {
    font-family: 'Bebas Neue Bold';
}

label {
    font-family: 'Bebas Neue Bold';
}


h3 {
    font-family: 'Bebas Neue Bold';
}

h4 {
    font-family: 'Bebas Neue Book';
}

h5 {
    font-family: 'Bebas Neue Light';
}

h6 {
    font-family: 'Bebas Neue Thin';
}

.fancybox__counter {
    font-family: 'Bebas Neue Book';
}

.fancybox__caption {
    font-family: 'Bebas Neue Book';
}

html, body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    color: white;
    scroll-behavior: smooth;
}

.bluebar img {
    text-align: center;
    width: 10%;
    filter: invert(100);
}

::placeholder {
    font-family: 'Bebas Neue Bold';
}

.search {
    background: none;
    border: solid 2px rgb(230, 230, 230);;
    border-radius: 0px;
    transition: .5s;
}

.search:focus {
    background: none;
    border: dashed 2px rgb(255, 255, 255);;
    border-radius: 0px;
    outline: none;
}

.nooutline {
    outline: none;
    border: 0;
    font-family: 'Bebas Neue Bold';
}

.market_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.market_inputs button, .market_inputs input {
    font-size: 20px;
}

.menu {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
    
}


.sub_menu {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
}

.sub_menu .menu_button {
    font-size: 35px;
    margin-bottom: 0px;
    display: none;
}

.menu_button {
    margin: 17px;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.menu_button {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
    margin-bottom: 2px;    margin-top: 2px;

}

.menu_button:hover {
    background-size: 100% 1px;
}

#portfolio .menu_button{
    font-size: 0px;
    transition: .5s;
}

.display_block .menu_button{
    display: block ;
}

.showup .menu_button{ 
    font-size: 30px!important;
    margin-bottom: 10px;
}

#main_slider {
    overflow: hidden;
}

.main_slide_1 {
    background-image: url(https://sun7-13.userapi.com/impg/6eD7jt1sMBRk1iv2OzZ7g91E0z7E6PxMwB1SsA/M-sgl7pUGOA.jpg?size=2560x2560&quality=95&sign=215b4c1f9fa0171e274c9d5cc715f22d&type=album);
    background-position-y: center;
    width: 100%;
    height: 250px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-start!important;
    flex-direction: column!important;
    align-content: flex-start!important;
}

.main_slide_1_title::after{
    content: 'Новый дроп обложек';
}

.main_slide_1_desc::after{
    content: 'Новый дроп обложек уже на сайте, успейте приобрести';
}

.main_slide_2_title::after{
    content: 'OG BLESS, OFFMi';
}

.main_slide_2_desc::after{
    content: 'Обложка на трек "Понт"';
}


.main_slide_3_title::after{
    content: 'molodyxxa, OG Chris';
}

.main_slide_3_desc::after{
    content: 'Обложка на трек "BALABO$$"';
}

.main_slide_2 {
    background-image: url(https://sun7-9.userapi.com/impg/NFhTX92qtbpEIVPwztUzmQV8LAv8rrdk4icmmQ/PEwVz-FWX4M.jpg?size=2560x2560&quality=95&sign=d3c3c533b557a0a9cd5a91bc23fecd66&type=album);
    background-position-y: center;
    width: 100%;
    height: 250px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-start!important;
    flex-direction: column!important;
    align-content: flex-start!important;
}

.main_slide_3 {
    background-image: url(https://sun7-6.userapi.com/impg/Ab4Llq7uM8bu6jZ_eFzPcbvg533852zn16rkoA/YoNc9zXEBpM.jpg?size=2560x2560&quality=95&sign=2a6010a669a3e2236d6ffe13ad454bca&type=album);
    background-position-y: center;
    width: 100%;
    height: 250px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-start!important;
    flex-direction: column!important;
    align-content: flex-start!important;
}

.autoplay div div a {
    color: white;
    z-index: 1;
    margin-left: 50px;
    font-size: 35px;
    background: rgba(0, 0, 0, 0.5);
}

.autoplay div div p {
    color: white;
    z-index: 1;
    margin-left: 50px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
}

.bluebar {
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bluebar p {
    margin: 0;
}

.artists_portfolio {
    text-align: center;
}

.artists_portfolio h1, .artists_portfolio h2, .artists_portfolio h3, .artists_portfolio h4{
    font-weight: 400;
}

.artists_portfolio_list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio_artist_text h3,.portfolio_artist_text h4 {
    margin: 10px;
}

.portfolio_artist {
    margin: 5px;
    position: relative;
}

.portfolio_artist img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.artist_portfolio_hiddenimg {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: .5s;
    opacity: 0;
}

.artist_portfolio_hiddenimg:hover {
    opacity: 1;
}

.fontweight100 { 
    text-align: center;
}

.credits_page_count_text_container > h3 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#creditscustomerscount {
    font-size: 100px;
    animation: rainbow infinite 7s ease-in;
    color: red;
    text-shadow:
    0 0 42px red,
    0 0 82px red,
    0 0 92px red,
    0 0 102px red,
    0 0 151px red;
}

/* 14,28571428571429 */

@keyframes rainbow {
    0% {
        color: red;
    }

    14.28571428571429% {
        color: orange;
        text-shadow:
        0 0 42px orange,
        0 0 82px orange,
        0 0 92px orange,
        0 0 102px orange,
        0 0 151px orange;
    }

    28.57142857142857% {
        color: yellow;
        text-shadow:
        0 0 42px yellow,
        0 0 82px yellow,
        0 0 92px yellow,
        0 0 102px yellow,
        0 0 151px yellow;
        
    }

    42.85714285714287% {
        color: lime;
        text-shadow:
        0 0 42px lime,
        0 0 82px lime,
        0 0 92px lime,
        0 0 102px lime,
        0 0 151px lime;
    }

    57.14285714285716% {
        color: aqua;
        text-shadow:
        0 0 42px aqua,
        0 0 82px aqua,
        0 0 92px aqua,
        0 0 102px aqua,
        0 0 151px aqua;
    }

    71.42857142857145% {
        color: blue;
        text-shadow:
        0 0 42px blue,
        0 0 82px blue,
        0 0 92px blue,
        0 0 102px blue,
        0 0 151px blue;
    }

    85.71428571428574% {
        color: purple;
        text-shadow:
        0 0 42px purple,
        0 0 82px purple,
        0 0 92px purple,
        0 0 102px purple,
        0 0 151px purple;
    }
}


.latest_news a {
    text-decoration: none;
}

.latest_news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}

.latest_news_block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    height: 500px;
    box-shadow: inset 0px 0px 1000px rgba(0,0,0,0.9);
    color: white;
    margin: 20px;
    text-decoration: none;
    transition: .2s;
}

#news_block_3 {
    background: url(https://sun9-77.userapi.com/impg/E3mTUdhFczBd5AVO4GTgdWvRuL07nJSSryKDsw/bfKijNCiH7E.jpg?size=2560x2560&quality=95&sign=1b2c2c86c175ea61f025957421e0efb9&type=album);
    background-size: cover;
    background-position-x: center;
}

#news_block_2 {
    background: url(https://sun9-26.userapi.com/impg/qvviGbAMCTCgdFRvYvDMjzWi5xKGIicBQq0xVA/FU4KGlz6i54.jpg?size=2560x2560&quality=95&sign=4c4c1ce1a2135ebb0ab44a215f41a269&type=album);
    background-size: cover;
    background-position-x: center;
}

#news_block_1 {
    background: url(https://psv4.userapi.com/c240331/u243323151/docs/d28/72eb93b337b0/vb_shirt_2.jpg?extra=XsBMjS0KJOIu1xVuOzfBGwSnasm9uqgtUT0cR6CTYY76VJt8RzoUkV48qN83E3PdQcfhRLRaufa8zPN5g55QaSfxhLMx9tqDkcDJE6Aw9qaiKE-kabKn9ftJLvtiooIenjIy7b53SVRzOB5t0R5aA7xrZ9A);
    background-size: cover;
    background-position-x: center;
}

.latest_news_block_text {
    margin: 20px;
}

.news_page {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
}

.news_page_picture {
    width: 40%;
    margin: 20px;
}

.news_text {
    text-align: left;
}

.news_text_img {
    width: 30%;
    margin: 5px;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.latest_news_block .latest_news_block_text h3,.latest_news_block .latest_news_block_text h4,.latest_news_block .latest_news_block_text h5 {
    transition: .2s;
    opacity: 1;
}

.latest_news_block:hover > .latest_news_block_text > h3, .latest_news_block:hover > .latest_news_block_text > h4, .latest_news_block:hover > .latest_news_block_text > h5 {
    opacity: 0;

}

.latest_news_block:hover {
    box-shadow: none;
    width: 500px;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
.pagesystem--transitiondot5s {
    transition: .5s;
}
  
.pagesystem--hidden_display_page {
    display: none!important
}

.pagesystem--active_page {
    opacity: 1;
}

.pagesystem--active_display_page{
    display: block;
}

.pagesystem--hidden_page {
    opacity: 0;
    margin-top: 10%;
}

.cover_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover_gallery a img {
    width: 350px;
    height: 350px;
}

.cover_gallery a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
}

.decorations_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decorations_gallery a img {
    width: 95%;
}

.decorations_gallery a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
}

.motion_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motion_gallery a img {
    width: 95%;
}

.motion_gallery a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
}

.brandbook_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandbook_gallery a img {
    height: 300px;
}

.brandbook_gallery a {
    margin: 10px;
}

.prints_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prints_gallery a img {
    height: 300px;
    width: 300px;
}

.prints_gallery a {
    margin: 10px;
}

.gallery_timeline_date {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin: 5px;
}

.hr-horizontal-gradient {
    margin: 5px;
	padding: 0;
	height: 4px;
	border: none;
	background: linear-gradient(45deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
}

.sort {
    background: #000;
    color: white;
}

.sites_gallery_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sites_gallery_block_text {
    margin: 50px;
    width: 40%;
}

.sites_gallery_block_text_link {
    color: white;
}

.sites_gallery_block a{
    width: 50%;
}

.sites_gallery_block a img{
    width: 100%;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #000000;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

  .preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .preloader img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    filter: invert(100);
  }

  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  @keyframes wipe-enter {
    0% {
        opacity: 0;
        margin-top: 10%;
    }
    100% {
        opacity: 1;
        margin-bottom: 0%;
    }
  }

  .show_up_animation {
    animation: wipe-enter 2s 1
  }

  .market_position img {
    width: 500px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
  }

.market {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

.market li {
    margin: 10px;
}

.market_break {
    flex-basis: 100%;
    height: 0;
}

.market_buy_button {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.market_name {
    white-space: nowrap;
}

.market_old_price {
    color: rgb(77, 77, 77);
    text-decoration:line-through;
}

.market_price_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.market_price_container h4 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.credit_artist_name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.market_buy_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

a { outline: none;}

.display_none {
    display: none!important;
}

.pricelist_cover_input {
    text-align: center;
}

.pricelist_decoration_input {
    text-align: center;
}

.pricelist_brandbook_input {
    text-align: center;
}

.pricelist_print_input {
    text-align: center;
}

.pricelist_site_input {
    text-align: center;
}

.pricelist_motion_input {
    text-align: center;
}

textarea {
    outline: none;
}

.price_final_text {
    overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
    word-wrap: break-word;
    word-break: normal;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */ 
    line-break: auto;  /* нет поддержки для русского языка */ 
    hyphens: manual;  /* значение auto не поддерживается Chrome */ 
    text-align: center;
}

.price_final_text_container {
    text-align: center;
}

.price_container {
    text-align: center;
}

.price_container p{
    margin-top: 5px;
}

.price_container h2 {
    margin-bottom: 5px;
}


.make_order {
    text-align: center;
    color: white;
    border: solid white 2px;
    padding: 10px;
    text-decoration: none;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-bottom: 20px;
}

.make_order:hover {
    border: solid rgb(0, 0, 0);
}

select {
    outline: none;
    background: #000;
    color: white;
    font-family: 'Bebas Neue Bold';
    border: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    padding: 5px;
}

option {
    outline: none;
}

#price_copy_button {
    text-align: center;
    color: white;
    border: solid white 1px;
    padding: 5px;
    text-decoration: none;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-bottom: 20px;
}

#price_copy_button:hover {
    border: solid rgb(0, 0, 0);
}

.display_none label, .display_none input {
    display: none;
    visibility: hidden!important;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.reviews {
    text-align: center;

}

.review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(255, 255, 255);
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.review_top {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.review_top h3 {
    margin: 15px;
}

.review_top h4 {
    margin: 5px;
}

.review_img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 999px;
}

.review_text {
    margin: 10px;
    width: 100%;
}

.review_date {
    color: rgb(255, 255, 255);
}

.review_link {
    color: white;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}

.contact_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_title {
    margin: 20px;
}

.contact_description {
    margin: 5px;
}

.text_decoration_none {
    text-decoration: none;
    color: white;
}

.hello_bar_content {
    margin-top: 2px;
    margin-bottom: -4px;
    display: flex;
    align-items: center;
}

.light {
    background: #fafafa;
}

.light .fontweight100 {
    color: black;
}

.light .latest_news_block h3 {
    color: white;
}

.light .latest_news_block h4 {
    color: white;
}

.light .latest_news_block h5 {
    color: white;
}

.light h1 {
    color: black;
}

.light .portfolio_artist_text h3{
    color: black;
}

.light .portfolio_artist_text h4{
    color: black;
}

.light .bluebar img {
    filter: invert(0);
}

.light .menu_button {
    color: black;
}

.light .hello_bar marquee {
    background: #000000;
}

.light .credits_page_count_text_container > h3 {
    color: black;
}

.light #creditscustomerscount {
    color: black!important;
    animation: none;
    text-shadow: none;
}

.light .sort {
    background: none;
    color: black;
}

.light .search:focus {
    border: black dashed 2px;
}

.light .sites_gallery_block_text {
    color: black;
}

.light .sites_gallery_block_text_link {
    color: black;
}

.light label {
    color: black;
}

.light #price_copy_button {
    color: black;
    border: solid rgb(0, 0, 0) 1px;
}


.light .make_order {
    color: black;
    border: solid rgb(0, 0, 0) 1px;
}

.light .price_container_price {
    color: black;
}

.light .market_buy_button {
    color: black;
}

.light .review_link {
    color: black;
}

.light .review_text {
    color: black;
}

.light .review {
    border: solid 2px rgb(0, 0, 0);
}

.light .text_decoration_none {
    color: black;
}

#themechanger {
    color: white;
    margin-bottom: 10px;
}

.light #themechanger {
    color: black;
}

.footer {
    margin: 50px;
}

.deletecookie {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}


.copyright {
    margin: 2px;
    font-size: 15px;
    text-align: center;
}

.light .deletecookie {
    color: black;
}

.light .copyright {
    color: black;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
    margin-bottom: 2px;    margin-top: 2px;
}

a:hover {
    background-size: 100% 1px;
}

.light .gallery_timeline_date {
    color: rgb(0, 0, 0);
}

.light .hr-horizontal-gradient {
	background: linear-gradient(45deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.projects_sort_items {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_sort_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255)!important;
    margin: 20px;
}

.project_sort_item p {
    margin: 0;
}

.projects_sort_button {
    margin: 5px;
    color: rgb(255, 255, 255);
}

.light .projects_sort_button {
    color: rgb(0, 0, 0);
}

.light .project_sort_item {
    color: rgb(0, 0, 0)!important;
}

.projects {
    color: white;
}

.light .projects {
    color: black;
}

.project_cover_title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.project_cover_title a {
    color: white;
}

.light .project_cover_title a { /*leet*/
    color: rgb(0, 0, 0);
}

.project_cover_description {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.project_cover_description a {
    color: white;
}

.light .project_cover_description a {
    color: rgb(0, 0, 0);
}

.project_cover_date {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.project_cover {
    width: 50%;
    margin: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.project_print{
    margin: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.project_decoration{
    margin: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.project_cover_img {
    width: 100%;
}

.project_cover_img_container {
    color: white;
}

.light .project_cover_img_container {
    color: rgb(0, 0, 0);
}

.artist_reaction {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.artist_reaction_icon {
    filter: invert(100);
    width: 5%;
    margin: 5px;
}

.light .artist_reaction_icon {
    filter: invert(0);
}


.motionpluscover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motionsolo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motionsolo .project_cover_img {
    width: 100%;
}

.motionsquare .project_cover_img {
    width: 100%;
}


.motionpluscover .project_cover_img {
    width: 100%;
}

.a10801920 {
    width: 200%;
    margin: 5px;
}

.market_position a {
    color: white;
}

#indepedent_random_symbols1 {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 40px;
    left: 2%;
}

#indepedent_random_symbols4 {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 40px;
    right: 2%;
}

.light #indepedent_random_symbols1 {
    color: rgb(0, 0, 0);
}

.light #indepedent_random_symbols4 {
    color: rgb(0, 0, 0);
}

.censored {
    filter: blur(0px);
}

.censoredactivated {
    filter: blur(20px);
}

.explicitcontent {
    text-decoration: none;
    background-image: none!important;
}

.project_cover_img_container  {
    background-image: none!important;
}

.tovar_page {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    padding: 2%;
    align-items: flex-start;
}

.tovar_galleries {
    display: flex;
    flex-direction: column;
}

.tovar_slider {
    width: 50%;
    margin-left: 25px;
    margin-right: 25px;
}

.order_button {
    font-size: 50px;
}

.tovar_page_text h1, .tovar_page_text h2, .tovar_page_text h4, .tovar_page_text h3, .tovar_page_text a {
    margin: 5px;
    color: white;
}

.light .tovar_page_text h1, .light .tovar_page_text h2,  .light .tovar_page_text h4, .light .tovar_page_text h3, .light .tovar_page_text a {
    color: black;
}

.razmer_setka {
    width: 100%;
}

.light .razmer_setka {
    filter: invert(98%);
}


.tovar_page_text {
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
}

.slick-arrow {
    display: none!important;
}

.tovar_slider img {
    width: 98%;
}

.tovar_page_text_price {
    font-size: 50px;
}

.news_link {
    color: white
}

.light #price_final_text {
    color: black;
}

.contact_img {
    width: 70px;
}

@media(max-width:1095px) {
    .menu {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 2px;
        flex-direction: column;
    }

    .bluebar img {
        width: 25%;
    }

    #explicitcontentimg {
        width: 15%;
    }

}

@media(max-width:768px) {
    .tovar_page {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        padding: 2%;
        align-items: center;
    }

    .tovar_page_text {
        display: flex;
        justify-content: center;
        padding: 1%;
        flex-direction: column;
        width: 500px;
        align-items: center;
    }
}

@media(max-width:478px){
    .menu {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 2px;
        flex-direction: column;
    }

    .tovar_slider {
        width: 100%;
    }

    .razmer_setka {
        width: 70%;
    }

    .menu_button {
        margin: 10px;
    }

    .bluebar img {
        width: 50%;
    }

    body::-webkit-scrollbar {
        width: 0em;
    }

    #explicitcontentimg {
        width: 25%;
    }

    .artists_portfolio_list {
        flex-direction: column;
    }

    .latest_news {
        flex-direction: column;
    }

    .deletecookie {
        width: 40%;
    }

    .projects {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .projects_sort_items {
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    #price_copy_button, .make_order{
        width: 75%;
    }

    textarea {
        width: 300px!important;
    }

    .market_position img {
        width: 300px;
        height: 300px;
    }

    .review {
        display: flex;
        width: 90%;
    }

    .review_text {
        font-size: 20px;
    }

    .contact {
        text-align: center;
    }

    .contact_top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .latest_news_block:hover {
        box-shadow: none;
        width: 350px;
    }
}