@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('http://fonts.cdnfonts.com/css/made-outer-sans-alt');
@import url('http://fonts.cdnfonts.com/css/roblox-new');
@import url('http://fonts.cdnfonts.com/css/gogh');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
    Playfair Display:
    font-family: 'Playfair Display', serif;

    Poiret One:
    font-family: 'Poiret One', cursive;

    Noto Sans:
    font-family: 'Noto Sans', sans-serif;

    Nunito Sans:
    font-family: 'Nunito Sans', sans-serif;

    Mulish:
    font-family: 'Mulish', sans-serif;

    Montserrat:
    font-family: 'Montserrat', sans-serif;

    Raleway:
    font-family: 'Raleway', sans-serif;

    Alumni Sans Pinstripe:
    font-family: 'Alumni Sans Pinstripe', sans-serif;

    Cormorant Garamond:
    font-family: 'Cormorant Garamond', serif;

    Noto Serif Display:
    font-family: 'Noto Serif Display', serif;

    Dela Gothic One:
    font-family: 'Dela Gothic One', cursive;

    Prosto One:
    font-family: 'Prosto One', cursive;

    Jost:
    font-family: 'Jost', sans-serif;
*/

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('BebasNeue-Thin.eot');
    src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('BebasNeue-Thin.woff') format('woff'),
    url('BebasNeue-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeueBook.eot');
    src: url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueBook.woff') format('woff'),
    url('BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url('BebasNeueLight.eot');
    src: url('BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueLight.woff') format('woff'),
    url('BebasNeueLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('BebasNeueRegular.eot');
    src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueRegular.woff') format('woff'),
    url('BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('BebasNeueBold.eot');
    src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueBold.woff') format('woff'),
    url('BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    background: #000;
    scroll-behavior: smooth;
    font-size: 25px;
}

body::-webkit-scrollbar {
    width: 0.2em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(255, 255, 255);
}

h1 {
    font-family: 'Bebas Neue Bold';
}

button {
    font-family: 'Bebas Neue Bold';
}

.search {
    font-family: 'Bebas Neue Bold';
}

a {
    font-family: 'Bebas Neue Bold';
}

p {
    font-family: 'Bebas Neue Bold';
}

h2 {
    font-family: 'Bebas Neue Bold';
}

h3 {
    font-family: 'Bebas Neue Bold';
}

h4 {
    font-family: 'Bebas Neue Book';
}

h5 {
    font-family: 'Bebas Neue Light';
}

h6 {
    font-family: 'Bebas Neue Thin';
}

html, body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    color: white;
    scroll-behavior: smooth;
}

.bluebar img {
    text-align: center;
    width: 10%;
    filter: invert(100);
}

::placeholder {
    font-family: 'Bebas Neue Bold';
}

.search {
    background: none;
    border: solid 2px rgb(230, 230, 230);;
    border-radius: 0px;
    transition: .5s;
}

.search:focus {
    background: none;
    border: dashed 2px rgb(255, 255, 255);;
    border-radius: 0px;
    outline: none;
}

.nooutline {
    outline: none;
    border: 0;
    font-family: 'Bebas Neue Bold';
}

.market_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.market_inputs button, .market_inputs input {
    font-size: 20px;
}

.menu {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
    
}


.sub_menu {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
}

.sub_menu .menu_button {
    font-size: 35px;
    margin-bottom: 0px;
    display: none;
}

.menu_button {
    margin: 17px;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.menu_button {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
    margin-bottom: 2px;    margin-top: 2px;

}

.menu_button:hover {
    background-size: 100% 1px;
}

#portfolio .menu_button{
    font-size: 0px;
    transition: .5s;
}

.display_block .menu_button{
    display: block ;
}

.showup .menu_button{ 
    font-size: 30px!important;
    margin-bottom: 10px;
}

#main_slider {
    overflow: hidden;
}

.main_slide_1 {
    background-image: url(https://sun7-13.userapi.com/impg/6eD7jt1sMBRk1iv2OzZ7g91E0z7E6PxMwB1SsA/M-sgl7pUGOA.jpg?size=2560x2560&quality=95&sign=215b4c1f9fa0171e274c9d5cc715f22d&type=album);
    background-position-y: center;
    width: 100%;
    height: 250px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-start!important;
    flex-direction: column!important;
    align-content: flex-start!important;
}

.main_slide_1_title::after{
    content: 'Новый дроп обложек';
}

.main_slide_1_desc::after{
    content: 'Новый дроп обложек уже на сайте, успейте приобрести';
}

.main_slide_2_title::after{
    content: 'OG BLESS, OFFMi';
}

.main_slide_2_desc::after{
    content: 'Обложка на трек "Понт"';
}


.main_slide_3_title::after{
    content: 'molodyxxa, OG Chris';
}

.main_slide_3_desc::after{
    content: 'Обложка на трек "BALABO$$"';
}

.main_slide_2 {
    background-image: url(https://sun7-9.userapi.com/impg/NFhTX92qtbpEIVPwztUzmQV8LAv8rrdk4icmmQ/PEwVz-FWX4M.jpg?size=2560x2560&quality=95&sign=d3c3c533b557a0a9cd5a91bc23fecd66&type=album);
    background-position-y: center;
    width: 100%;
    height: 250px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-start!important;
    flex-direction: column!important;
    align-content: flex-start!important;
}

.main_slide_3 {
    background-image: url(https://sun7-6.userapi.com/impg/Ab4Llq7uM8bu6jZ_eFzPcbvg533852zn16rkoA/YoNc9zXEBpM.jpg?size=2560x2560&quality=95&sign=2a6010a669a3e2236d6ffe13ad454bca&type=album);
    background-position-y: center;
    width: 100%;
    height: 250px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-start!important;
    flex-direction: column!important;
    align-content: flex-start!important;
}

.autoplay div div a {
    color: white;
    z-index: 1;
    margin-left: 50px;
    font-size: 35px;
    background: rgba(0, 0, 0, 0.5);
}

.autoplay div div p {
    color: white;
    z-index: 1;
    margin-left: 50px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
}

.bluebar {
    width: 100%;
    text-align: center;
    color: white;
}

.bluebar p {
    margin: 0;
}

.artists_portfolio {
    text-align: center;
}

.artists_portfolio h1, .artists_portfolio h2, .artists_portfolio h3, .artists_portfolio h4{
    font-weight: 400;
}

.artists_portfolio_list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio_artist_text h3,.portfolio_artist_text h4 {
    margin: 10px;
}

.portfolio_artist {
    margin: 5px;
    position: relative;
}

.portfolio_artist img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.artist_portfolio_hiddenimg {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: .5s;
    opacity: 0;
}

.artist_portfolio_hiddenimg:hover {
    opacity: 1;
}

.fontweight100 { 
    text-align: center;
}

.credits_page_count_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}


.latest_news a {
    text-decoration: none;
}

.latest_news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}

.latest_news_block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    height: 500px;
    box-shadow: inset 0px 0px 1000px rgba(0,0,0,0.9);
    color: white;
    margin: 20px;
    text-decoration: none;
    transition: .2s;
}

#news_block_3 {
    background: url(https://sun7-14.userapi.com/impg/d5FuY2Imgt6o0NH-HFPEYDZZV07OCXVDTrvEmQ/lyHtuBa2XJg.jpg?size=2560x2560&quality=95&sign=9bf2e659293d70939c034f010bfed2f0&type=album);
    background-size: cover;
    background-position-x: center;
}

#news_block_2 {
    background: url(https://sun9-79.userapi.com/impg/wNYrHXVWd6egizCjzXLe7sr5Bq_36ztRo7ux8g/TGDttuU5O9E.jpg?size=2560x2560&quality=95&sign=e426a11dd3b4f1e9902137425eb29659&type=album);
    background-size: cover;
    background-position-x: center;
}

#news_block_1 {
    background: url(https://sun9-14.userapi.com/impg/XNmnQYzubDyIjgrZp03r1Ls1yyyatTWqHpbeBQ/KZm-pyoeUlE.jpg?size=2560x2560&quality=95&sign=3718a29e6a8597b7664a8860712b7a4f&type=album);
    background-size: cover;
    background-position-x: center;
}

.latest_news_block_text {
    margin: 20px;
}

.news_page {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
}

.news_page_picture {
    width: 40%;
    margin: 20px;
}

.news_text {
    text-align: left;
}

.news_text_img {
    width: 30%;
    margin: 5px;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.latest_news_block .latest_news_block_text h3,.latest_news_block .latest_news_block_text h4,.latest_news_block .latest_news_block_text h5 {
    transition: .2s;
    opacity: 1;
}

.latest_news_block:hover > .latest_news_block_text > h3, .latest_news_block:hover > .latest_news_block_text > h4, .latest_news_block:hover > .latest_news_block_text > h5 {
    opacity: 0;

}

.latest_news_block:hover {
    box-shadow: none;
    width: 500px;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
.pagesystem--transitiondot5s {
    transition: .5s;
}
  
.pagesystem--hidden_display_page {
    display: none!important
}

.pagesystem--active_page {
    opacity: 1;
}

.pagesystem--active_display_page{
    display: block;
}

.pagesystem--hidden_page {
    opacity: 0;
    margin-top: 10%;
}

.cover_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover_gallery a img {
    width: 350px;
    height: 350px;
}

.cover_gallery a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
}

.decorations_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decorations_gallery a img {
    width: 95%;
}

.decorations_gallery a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
}

.brandbook_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandbook_gallery a img {
    height: 300px;
}

.brandbook_gallery a {
    margin: 10px;
}

.prints_gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prints_gallery a img {
    height: 300px;
    width: 300px;
}

.prints_gallery a {
    margin: 10px;
}

.gallery_timeline_date {
    color: rgb(33, 92, 255);
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin: 5px;
}

.hr-horizontal-gradient {
    margin: 5px;
	padding: 0;
	height: 4px;
	border: none;
	background: linear-gradient(45deg, rgb(33, 92, 255), rgb(83, 129, 255));
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
}

.sort {
    background: #000;
    color: white;
}

.sites_gallery_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sites_gallery_block_text {
    margin: 50px;
    width: 40%;
}

.sites_gallery_block_text_link {
    color: white;
}

.sites_gallery_block a{
    width: 50%;
}

.sites_gallery_block a img{
    width: 100%;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #000000;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }

  .preloader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preloader img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    filter: invert(100);
  }

  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }